html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
}
body {
    line-height:1
}
ol, ul {
    list-style:none
}
blockquote, q {
    quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content:none
}
#button1 {
    background: #e1e1e1;
    position: absolute;
    left: 55%;
    font-size: 20px;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}

body {
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
    color: #565656;
    font-size: 13px;
    overflow-y: scroll;
    min-width: 500px;
}
html, body {
    height: 100%;
}
.odd {
    background: #f0f0f0;
}  
th, td{
    padding: 2px;
    border: 1px solid;
}
#container {
    min-height: 100%;
    min-width: 500px;
    height: auto !important;
    height: 100%;
    margin: 0 auto -145px;
}
.free {
    display: flex;
    align-items: stretch;
    bottom: 10px;
    width:100%;
    height: 150px;
}
p {
    line-height: 20px;
    margin-bottom: 20px;
    font-size: 15px;
}
a {
    text-decoration: none;
    color: #565656;
}
a:hover {
    text-decoration: none;
    color: #5d8ba6;
}

.highlight {
    color: #5d8ba6;
    border-bottom: 1px dotted #5d8ba6;
}
.highlight2 {
    background-color: #e1e1e1;
    padding: 0px 5px;
    color: #222222;
}
.highlight3 {
    color: #5d8ba6;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'MidoMedium';
    font-weight: normal;
    color: #565656;
    margin-bottom: 10px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 22px;
    line-height: 26px;
}
h4 {
    font-size: 17px;
}
h5 {
    font-size: 15px;
}
h6 {
    font-size: 14px;
}
.divider {
    background: transparent url(images/line.png) repeat-x bottom center;
    height: 2px;
    display: block;
    margin: 30px 0;
}

/*-----------------------------------------------------------------------------------*/
/*	Шаблон
/*-----------------------------------------------------------------------------------*/

#wrapper ul {
    padding: 0 0 20px 0;
    display: block;
    overflow: hidden;
}
#wrapper ul li {
    line-height: 20px;
    list-style: none;
    display: block;
    background: transparent url(images/bullet.jpg) no-repeat left 8px;
    padding-left: 20px;
}
#wrapper {
    width: 960px;
    margin: 0 auto;
    padding-top: 0;
    line-height: 20px;
}
#header-wrapper {
    min-width: 960px;
    height: 88px;
}
#header {
    width: 960px;
    height: 88px;
    margin: 0 auto;
    position: relative;
    z-index: 999;
}
#page-top {
    padding-bottom: 70px;
}
#logo {
    position: absolute;
    bottom: 15px;
    left: 400px;
    top: 30px;
}
#menu-wrapper {
    position: absolute;
    bottom: 23px;
    top: 100px;
    right: 300px;
}
/*-----------------------------------------------------------------------------------*/
/*	Меню
/*-----------------------------------------------------------------------------------*/

.ddmenu {
    font-family: 'MidoMedium';
    font-size:30px;
    z-index: 1000;
    position: relative;
    text-shadow: 0px 1px 0px #efefef;
}

.ddmenu ul li {
    position: relative;
    display: inline;
    float: left;
    clear: none;
    margin-left: 20px;
    padding-left: 15px;
}
.ddmenu ul li a, .ddmenu ul li a:visited {
    color: #565656;
}
.ddmenu ul li a.selected {
    color: #5d8ba6;
}
.ddmenu ul li a:hover {
    color: #5d8ba6;
}

/*-----------------------------------------------------------------------------------*/
/*	Слайдер
/*-----------------------------------------------------------------------------------*/

#piecemaker-container {
    display:block;
    height:460px;
    overflow:hidden;
    margin: -10px auto 40px;
    width: 960px;
}
/*-----------------------------------------------------------------------------------*/
/*	Колонки-картинки
/*-----------------------------------------------------------------------------------*/

.one-fourth {
    width:22%;
    position:relative;
    margin-right:4%;
    float:left;
}
.last {
    margin-right:0 !important;
    clear:right;
}
/*-----------------------------------------------------------------------------------*/
/*	Интро
/*-----------------------------------------------------------------------------------*/

.intro h1 {
    line-height: 28px;
    font-size: 22px;
    text-align: center;
    font-weight: normal;
    font-family: 'MidoMedium';
    color: #626262;
}
.intro {
    margin-top: -10px;
    margin-bottom:60px;
}
/*-----------------------------------------------------------------------------------*/
/*	About
/*-----------------------------------------------------------------------------------*/

#about .one-fourth img {
    -moz-box-shadow: 0px 1px 2px #656565;
    -webkit-box-shadow: 0px 1px 2px #656565;
    box-shadow: 0px 1px 2px #656565;
    display: block;
    margin-bottom: 20px;
}
#about .one-fourth p {
    margin-bottom: 15px;
}
/*-----------------------------------------------------------------------------------*/
/*	Страница
/*-----------------------------------------------------------------------------------*/

.content {
    background-color: #FFF;
    -moz-box-shadow: 0px 1px 2px #9f9f9f;
    -webkit-box-shadow: 0px 1px 2px #9f9f9f;
    box-shadow: 0px 1px 2px #9f9f9f;
    padding: 20px 20px 0 20px;
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
}

/*-----------------------------------------------------------------------------------*/
/*	Меню картинками
/*-----------------------------------------------------------------------------------*/

#portfolio ul li {
    background: none;
    padding: 0;
}
#wrapper ul.grid {
    width: 985px;
    overflow: hidden;
    margin:0 auto;
    margin-left:-20px;
    padding: 0;
}
ul.grid li {
    width: 225px;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 20px;
    float: left;
    overflow: hidden;
    background: none;
    -moz-box-shadow: 0px 1px 2px #8e8e8e;
    -webkit-box-shadow: 0px 1px 2px #8e8e8e;
    box-shadow: 0px 1px 2px #8e8e8e;
}
ul.grid li img {
    display: block;
    width:225px;
    height:150px;
}
/*-----------------------------------------------------------------------------------*/
/*	Словарь
/*-----------------------------------------------------------------------------------*/

ul#tab-menu {
    float:left;
    width: 230px;
    background-color: #FFF;
    -moz-box-shadow: 0px 1px 2px #9f9f9f;
    -webkit-box-shadow: 0px 1px 2px #9f9f9f;
    margin:0 20px 0 0;
    padding: 0 10px;
    list-style:none;
    font-family: 'MidoMedium';
    font-size: 17px;
}
ul#tab-menu li {
    background: transparent url(images/line.png) bottom repeat-x;
    cursor: pointer;
    padding: 20px 10px;
    margin: 0;
    color: #565656;
}
ul#tab-menu li:hover, ul#tab-menu li.selected {
    color: #5d8ba6;
}
ul#tab-menu li img {
    vertical-align: middle;
    padding-right: 10px;
}
ul#tab-menu li:last-child {
    background: none;
}
.tab-wrapper {
    width:960px;
}
.tab-content {
    background-color: #FFF;
    -moz-box-shadow: 0px 1px 2px #9f9f9f;
    -webkit-box-shadow: 0px 1px 2px #9f9f9f;
    box-shadow: 0px 1px 2px #9f9f9f;
    width: 650px;
    float:left;
    padding: 20px 20px 0 20px;
}
.tab-content div.tab {
    display:none;
    padding: 0;
}
.tab-content div.tab.show {
    display:block;
}
.tab-content div.tab p {
    width:650px;
    overflow: hidden;
    padding: 0;
    margin: 0 0 20px 0;
}
.tab-content div.tab div p {
    width:100%;
}

/*-----------------------------------------------------------------------------------*/
/*	Слайды
/*-----------------------------------------------------------------------------------*/
.slide{
    float: left;
    width:960px;
    height:450px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.slidewrapper{
    list-style: none;
    height:460px;
    margin: 0;
    padding: 0;
}

.viewport{
    height: 460px;
    width: 960px;
    overflow: hidden;
    position:relative;
}
.slidewrapper{
    position:absolute;
    left:0;
    top:0;
}

/*-----------------------------------------------------------------------------------*/
/*	Кнопка наверх
/*-----------------------------------------------------------------------------------*/
#toTop {
    display:none;
    right: 0;
    margin: 0;
    position: fixed;
    bottom: 50px;
    width: 52px;
    color: #333333;
    line-height: 30px;
    padding: 0px 0 0 28px;
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    box-shadow: 0 2px 4px #999;
    -webkit-box-shadow: 0 2px 4px #999;
    -moz-box-shadow: 0 2px 4px #999;
    cursor:pointer;
}